#footer
    .marquee
        .marqueeInner
            span 21.09 - VÉRTIGO. SALA BLA • MADRID — 04.10 - INTERFERENCIAS. CLUB MATADOR • MADRID — 21.09 - VÉRTIGO. SALA BLA • MADRID — 04.10 - INTERFERENCIAS. CLUB MATADOR • MADRID — 21.09 - VÉRTIGO. SALA BLA • MADRID — 04.10 - INTERFERENCIAS. CLUB MATADOR • MADRID —
            span 21.09 - VÉRTIGO. SALA BLA • MADRID — 04.10 - INTERFERENCIAS. CLUB MATADOR • MADRID — 21.09 - VÉRTIGO. SALA BLA • MADRID — 04.10 - INTERFERENCIAS. CLUB MATADOR • MADRID — 21.09 - VÉRTIGO. SALA BLA • MADRID — 04.10 - INTERFERENCIAS. CLUB MATADOR • MADRID —
    .info
        .inner
            img( src='../assets/img/footer.png', width='1280' )