doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title el AMOR proyectos &lt;3
    link(rel='stylesheet', id='mainStylesheet' href='../css/main.styl')
  body
    include includes/header.pug
    #main
        .videoInternal.videoGrid.block( style='background-color: rgb(210, 227, 211)', data-bg='rgba(210, 227, 211, 0)' )
            .head( style='background-image: url("./../assets/img/videocover1.jpg")')
                .title
                    .line Intersecciones Artísticas
                    .line.date 14.09 — 05.02 • Club Matador — Madrid
            .photo.twocol.clearfix.subblock( data-bg='rgb(210, 227, 211 )' )
                .im( style='background-image: url("./../assets/img/videocover1.jpg")')
                .im( style='background-image: url("./../assets/img/videointernal1.jpg")')
            .blockInner.clearfix
                .copy
                    p El propósito de este curso es ofrecer una introducción histórica y panorámica de las múltiples intersecciones artísticas que reconfiguran y resignifican las diferentes disciplinas de la cultura contemporánea.
                    p A lo largo de todo el siglo XX y del siglo XXI, estas propuestas creadas a través de la interrelación de diversas prácticas artísticas, modificarán los fundamentos estéticos tradicionales, la noción del artista y el papel del espectador a la hora de relacionarse con el objeto artístico.
            .photo.twocol.clearfix
                .im( style='background-image: url("./../assets/img/videocover1.jpg")')
                .im( style='background-image: url("./../assets/img/videointernal1.jpg")')
            .photo.twocol.clearfix
                .im( style='background-image: url("./../assets/img/home1.jpg")')
                .im( style='background-image: url("./../assets/img/videointernal3.jpg")')
            .blockInner.clearfix
                .copy
                    p El propósito de este curso es ofrecer una introducción histórica y panorámica de las múltiples intersecciones artísticas que reconfiguran y resignifican las diferentes disciplinas de la cultura contemporánea.
                    p A lo largo de todo el siglo XX y del siglo XXI, estas propuestas creadas a través de la interrelación de diversas prácticas artísticas, modificarán los fundamentos estéticos tradicionales, la noción del artista y el papel del espectador a la hora de relacionarse con el objeto artístico.
                .photo.onecol
                    .im( style='background-image: url("./../assets/img/home1.jpg")')
        .videoInternal.videoGrid.block( style='background-color: rgb( 209, 233, 247 )', data-bg='rgba( 209, 233, 247, 0 )' )
            .head( style='background-image: url("./../assets/img/videocover1.jpg")')
                .title
                    .line Intersecciones Artísticas
                    .line.date 14.09 — 05.02 • Club Matador — Madrid
            .photo.twocol.clearfix.subblock( data-bg='rgb( 209, 233, 247 )' )
                .im( style='background-image: url("./../assets/img/videocover1.jpg")')
                .im( style='background-image: url("./../assets/img/videointernal1.jpg")')
            .blockInner.clearfix
                .copy
                    p El propósito de este curso es ofrecer una introducción histórica y panorámica de las múltiples intersecciones artísticas que reconfiguran y resignifican las diferentes disciplinas de la cultura contemporánea.
                    p A lo largo de todo el siglo XX y del siglo XXI, estas propuestas creadas a través de la interrelación de diversas prácticas artísticas, modificarán los fundamentos estéticos tradicionales, la noción del artista y el papel del espectador a la hora de relacionarse con el objeto artístico.
            .photo.twocol.clearfix
                .im( style='background-image: url("./../assets/img/videocover1.jpg")')
                .im( style='background-image: url("./../assets/img/videointernal1.jpg")')
            .photo.twocol.clearfix
                .im( style='background-image: url("./../assets/img/home1.jpg")')
                .im( style='background-image: url("./../assets/img/videointernal3.jpg")')
            .blockInner.clearfix
                .copy
                    p El propósito de este curso es ofrecer una introducción histórica y panorámica de las múltiples intersecciones artísticas que reconfiguran y resignifican las diferentes disciplinas de la cultura contemporánea.
                    p A lo largo de todo el siglo XX y del siglo XXI, estas propuestas creadas a través de la interrelación de diversas prácticas artísticas, modificarán los fundamentos estéticos tradicionales, la noción del artista y el papel del espectador a la hora de relacionarse con el objeto artístico.
                .photo.onecol
                    .im( style='background-image: url("./../assets/img/home1.jpg")')
            
    include includes/footer.pug
        
    script(src='../js/main.js')
